body {
    margin: 0;
    background-color: #fff;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    
}

.header {
    
    display: flex;
    flex-direction: row;
    margin: 92px auto 96px auto;
    width: 1052px;
    height: 105px;
    
     background-color:#fff;
     
    padding: 0px 25px ;
    align-items: center;
}


.header__menu-item_active .header__menu-link {
    text-decoration: none;
    list-style: none;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
    font-size: 18px;
    font-family: "Raleway";
    font-style: Regular;
    color: #000;
    margin: 0;
    margin-right: 35px;
    padding: 0;
    
}

.header__menu-item {
    list-style: circle;
}

.header__menu-link {
    color: #000;
    font-size: 18px;
    line-height: 1;
    font-style: normal;
}


.header__menu-info {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
    font-family: "Raleway";
    font-style: Regular;
    color: #000;
   
}

.header__logo-image {
   margin-right: 184px;
}

.cover {
    width: 1100px;
    height: 757px;
    background-image: url("./images/flower.png");
    margin: 96px auto 179px auto;
    border: 1px solid transparent;

}
.cover_title {
    font-size: 100px;
    font-family: "Raleway";
    font-style: Regular;
    color: #fff;
    margin: 165px 50px 147px;
    width: 700;
}

.accent_span-text  {
    letter-spacing: 0.6em;
}

.accent_span {
    display: block;
    margin: 0;
    letter-spacing: 0.3em;
}

.text-center-te {
    text-align: center;
    letter-spacing: 0.3em;
}

.text-center-be {
    text-align: center;
    letter-spacing: 0.6em;
}

.text-right-ad {
    text-align: right;
    letter-spacing: 0.3em;
}

.text-right {
    text-align: right;
    letter-spacing: 0.6em;
    
}

.text-right-o {
    letter-spacing: 0;
}

.text-accent {
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway";
    font-style: Regular;
    font-size: 22px;
    margin-left: 78px;
    word-spacing: 20px;
}
.cover__footer {
    display: flex;
    align-items: center;
    gap: 70px;
    }

.button {
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway";
    font-style: Regular;
    font-size: 22px;
    background-color: transparent;
    height: 51px;
    width: 256px;
    border: 1px solid #fff;
    margin-right: 50px;

}

.lot {
    margin: 179px auto 0 auto;
    width: 1052px;
    border: #000 solid 1px;
    
}

.lot__title {
    color: #000;
    font-family: "Raleway";
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lot__card-container {
    display: grid;
    grid-template-areas: "heading__movies heading__books heading__picture";
    grid-template-columns: repeat(3,334px);
    grid-template-rows: repeat(1, 563px );
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.lot__card {
    color: #fff;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
}

.lot__card-title {
    font-size: 22px;
    font-style: Bold;
    text-transform: uppercase;
    text-decoration: underline ;
    padding-top: 51px;
    margin: 0;
    font-weight: 700;
}
.lot__card_1 {
    color: #fff;
    font-family: "Raleway";
    background-image: url(./images/1.png);
    font-size: 20px;
    padding-bottom: 48px;
    margin-left: 24px;
    
   }

.lot__card_2 {
    color: #fff;
    font-family: "Raleway";
    background-image: url(./images/2.png);
    font-size: 20px;
    padding-bottom: 48px;
   
}

.lot__card_3 {
    color: #fff;
    font-family: "Raleway";
    background-image: url(./images/3.png);
    font-size: 20px;
    padding-bottom: 48px;
    margin-right: 24px;
    
}

.lot__card-text {
    margin: 0;
    font-weight: 400;
}

.lot__text {
    font-family: "Raleway";
    font-style: Regular;
    font-size: 20px;
    text-decoration: underline ;
    margin-top: 30px;
    margin-left: 40px;
    
}